ul.breadcrumb{font-size:0.4rem;font-weight:bold;}
.breadcrumb-item + .breadcrumb-item::before {content: ">";}
.img1{transition:1s;}
.img1:hover{transform:scale(1.1);}
.price{background:-webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);}
.font_detail_big{font-size:0.6rem;}
.font_detail_small{font-size:0.4rem;}
.btn {
    border-radius: 0;
}
.d-inline-block{vertical-align:top;}
.w-5{width:5%;}
.buy_now .btn{border-radius:0.2rem;}
.buy_now a:first-child{
    background:-webkit-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%);
}
.buy_now a:first-child:hover{
    background:-webkit-linear-gradient(top, #f0f0f0 0%, #aaa 100%);
}
.tuijianlan{border:1px solid #e5e5e5;}
